@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

/*

& .overlay4{
        width: 100%;
        max-width: 1140px;
        max-height: 640px;
        padding: 8rem 6rem;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.375);
        box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
        border-radius: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

*/

.background {
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fef9ff;
    overflow: hidden;
}

.background span {
    width: 30vmin;
    height: 30vmin;
    border-radius: 30vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #e39bc4;
    top: 40%;
    left: 47%;
    animation-duration: 8s;
    animation-delay: -38s;
    transform-origin: 12vw -19vh;
    box-shadow: -60vmin 0 8.130023363224465vmin currentColor;
}

.background span:nth-child(1) {
    color: #cea1cc;
    top: 69%;
    left: 2%;
    animation-duration: 55s;
    animation-delay: -11s;
    transform-origin: -21vw 16vh;
    box-shadow: 60vmin 0 8.144470417213892vmin currentColor;
}

.background span:nth-child(2) {
    color: #b8a7cb;
    top: 47%;
    left: 95%;
    animation-duration: 41s;
    animation-delay: -39s;
    transform-origin: 0vw 12vh;
    box-shadow: -60vmin 0 7.83895678283004vmin currentColor;
}

.background span:nth-child(3) {
    color: #e39bc4;
    top: 94%;
    left: 55%;
    animation-duration: 41s;
    animation-delay: -22s;
    transform-origin: -7vw -17vh;
    box-shadow: 60vmin 0 7.898937834077981vmin currentColor;
}

.background span:nth-child(4) {
    color: #e39bc4;
    top: 74%;
    left: 16%;
    animation-duration: 51s;
    animation-delay: -2s;
    transform-origin: 10vw 0vh;
    box-shadow: -60vmin 0 7.552182049767788vmin currentColor;
}

.background span:nth-child(5) {
    color: #fbd7e1;
    top: 76%;
    left: 35%;
    animation-duration: 9s;
    animation-delay: -43s;
    transform-origin: 13vw -8vh;
    box-shadow: 60vmin 0 7.593439758467688vmin currentColor;
}

.background span:nth-child(6) {
    color: #cea1cc;
    top: 46%;
    left: 47%;
    animation-duration: 45s;
    animation-delay: -15s;
    transform-origin: -12vw 7vh;
    box-shadow: -60vmin 0 7.803305348500908vmin currentColor;
}

.background span:nth-child(7) {
    color: #b8a7cb;
    top: 74%;
    left: 73%;
    animation-duration: 25s;
    animation-delay: -35s;
    transform-origin: 6vw -19vh;
    box-shadow: -60vmin 0 8.315761008917118vmin currentColor;
}

.background span:nth-child(8) {
    color: #b8a7cb;
    top: 48%;
    left: 19%;
    animation-duration: 32s;
    animation-delay: -15s;
    transform-origin: 11vw 12vh;
    box-shadow: -60vmin 0 8.317983847221408vmin currentColor;
}

.background span:nth-child(9) {
    color: #fbd7e1;
    top: 98%;
    left: 49%;
    animation-duration: 46s;
    animation-delay: -1s;
    transform-origin: 17vw -18vh;
    box-shadow: 60vmin 0 8.072596233936187vmin currentColor;
}

.background span:nth-child(10) {
    color: #fbd7e1;
    top: 95%;
    left: 58%;
    animation-duration: 6s;
    animation-delay: -43s;
    transform-origin: -16vw -3vh;
    box-shadow: 60vmin 0 7.708109194453133vmin currentColor;
}

.background span:nth-child(11) {
    color: #e39bc4;
    top: 13%;
    left: 67%;
    animation-duration: 13s;
    animation-delay: -7s;
    transform-origin: -19vw 20vh;
    box-shadow: 60vmin 0 8.161575474385822vmin currentColor;
}