/*for extra small devices - some mobile phones*/
@media (max-width: 385px) {

    html {
        font-size: 9px;
    }

    header {
        padding: 0 1rem;

        & nav {
            width: 20rem;

            /*change the displayment of the menu list to vertical*/
            & ul {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 4rem;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid var(--beige-shade);

                & li {
                    width: 100%;
                    height: 3em;
                    color: var(--beige-shade);
                    background-color: var(--purple-dark-shade);
                    /*to hide list items, when checkbox not selected*/
                    overflow: hidden;

                    &:not(:last-child) {
                        border-bottom: 0.5px solid var(--beige-shade);
                    }

                    & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: var(--beige-shade);

                        &:hover {
                            box-shadow: inset 0px 0 0 0 var(--beige-shade);
                            background-color: var(--beige-shade);
                            transition: 0.5s;
                        }
                    }

                    & .current-page {
                        color: var(--beige-shade);
                        background-color: var(--purple-dark-shade);
                        box-shadow: inset 0 0 0 0 var(--beige-shade);
                    }
                }
            }

            /*display the menu button*/
            & .menu-label {
                cursor: pointer;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            /*if the menu button is not checked, hide the menu list*/
            & .menu-toggle~ul li {
                height: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            /*when the menu button is checked, display the menu list*/
            & .menu-toggle:checked~ul li {
                height: 3em;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }

    main .home-page {
        height: 60rem;
        padding-top: 15rem;
        border-bottom-right-radius: 0;

        & h1 {
            font-size: 4.5rem;
            letter-spacing: 0.2rem;
        }

        & .description {
            padding-left: 1rem;
            padding-right: 1rem;

            & h2 {
                padding-bottom: 0.5rem;
            }
        }

        & .buttons-container {
            grid-template-columns: repeat(2, 12rem);
            grid-template-rows: 3.5rem;
            gap: 4rem;

            a {
                font-size: 0.8rem;
            }
        }
    }

    main .about-page {
        padding: 6rem 0;

        & .border-div {
            max-width: 90vw;
            flex-direction: column;
            border-radius: 1rem;
            background: rgba(255, 255, 255, 0.45);
            padding-top: 3rem;
            padding-bottom: 1.5rem;

            & .img-container {
                margin-right: 0rem;
                margin-bottom: 1rem;
                max-width: 20rem;
                border-radius: 0.5rem;
                border: 2px solid var(--pink-light-shade2);

                & img {
                    border-radius: inherit;
                }
            }

            & article {
                & h2 {
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    margin-bottom: 1.5rem;
                    border: none;
                    border-bottom: 5px solid var(--purple-dark-shade);
                }
            }
        }
    }

    main .skills-page {
        padding: 3rem 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        & h3 {
            padding-bottom: 2rem;
        }

        & ul {
            & li {
                font-size: 1.1rem;

                & i {
                    font-size: 2rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }

    main .contact-page {
        border-top-left-radius: 8rem;

        & .contact-info-container {
            width: 30rem;
            height: fit-content;
            flex-direction: column;
            border-radius: 2.5rem;

            & form {
                width: 100%;
            }

            & article {
                width: 100%;
                padding-left: 0.5rem;

                & .info-list {
                    grid-template-columns: auto;
                    padding-top: 0.2rem;

                    & li {
                        margin-bottom: 0.5rem;

                        & .info-container {
                            width: auto;
                        }
                    }
                }

                & .social-media {
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;

                    & li {
                        margin-right: 1rem;
                    }
                }
            }
        }

    }

}

/*for small devices - mobile phones and some tablets*/
@media (min-width: 385px) and (max-width: 600px) {

    html {
        font-size: 11px;
    }

    header {
        padding: 0 1rem;

        & nav {
            width: 20rem;

            /*change the displayment of the menu list to vertical*/
            & ul {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 4rem;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid var(--beige-shade);

                & li {
                    width: 100%;
                    height: 3em;
                    color: var(--beige-shade);
                    background-color: var(--purple-dark-shade);
                    /*to hide list items, when checkbox not selected*/
                    overflow: hidden;

                    &:not(:last-child) {
                        border-bottom: 0.5px solid var(--beige-shade);
                    }

                    & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: var(--beige-shade);

                        &:hover {
                            box-shadow: inset 0px 0 0 0 var(--beige-shade);
                            background-color: var(--beige-shade);
                            transition: 0.5s;
                        }
                    }

                    & .current-page {
                        color: var(--beige-shade);
                        background-color: var(--purple-dark-shade);
                        box-shadow: inset 0 0 0 0 var(--beige-shade);
                    }
                }
            }

            /*display the menu button*/
            & .menu-label {
                cursor: pointer;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            /*if the menu button is not checked, hide the menu list*/
            & .menu-toggle~ul li {
                height: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            /*when the menu button is checked, display the menu list*/
            & .menu-toggle:checked~ul li {
                height: 3em;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }

    main .home-page {
        height: 60rem;
        padding-top: 15rem;
        border-bottom-right-radius: 0;

        & h1 {
            font-size: 4.5rem;
            letter-spacing: 0.2rem;
        }

        & .description {
            padding-left: 1rem;
            padding-right: 1rem;

            & h2 {
                padding-bottom: 0.5rem;
            }
        }

        & .buttons-container {
            grid-template-columns: repeat(2, 12rem);
            grid-template-rows: 3.5rem;
            gap: 4rem;

            a {
                font-size: 0.8rem;
            }
        }
    }

    main .about-page {
        padding: 6rem 0;

        & .border-div {
            max-width: 90vw;
            flex-direction: column;
            border-radius: 1rem;
            background: rgba(255, 255, 255, 0.45);
            padding-top: 3rem;
            padding-bottom: 1.5rem;

            & .img-container {
                margin-right: 0rem;
                margin-bottom: 1rem;
                max-width: 20rem;
                border-radius: 0.5rem;
                border: 2px solid var(--pink-light-shade2);

                & img {
                    border-radius: inherit;
                }
            }

            & article {
                & h2 {
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    margin-bottom: 1.5rem;
                    border: none;
                    border-bottom: 5px solid var(--purple-dark-shade);
                }
            }
        }
    }

    main .skills-page {
        padding: 3rem 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        & h3 {
            padding-bottom: 2rem;
        }

        & ul {
            & li {
                font-size: 1.1rem;

                & i {
                    font-size: 2rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }

    main .contact-page {
        border-top-left-radius: 8rem;

        & .contact-info-container {
            width: 30rem;
            height: fit-content;
            flex-direction: column;
            border-radius: 2.5rem;

            & form {
                width: 100%;
            }

            & article {
                width: 100%;
                padding-left: 0.5rem;

                & .info-list {
                    grid-template-columns: auto;
                    padding-top: 0.2rem;

                    & li {
                        margin-bottom: 0.5rem;

                        & .info-container {
                            width: auto;
                        }
                    }
                }

                & .social-media {
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;

                    & li {
                        margin-right: 1rem;
                    }
                }
            }
        }

    }
}

/*for medium devices - tablets*/
@media (min-width: 600px) and (max-width: 950px) {

    html {
        font-size: 13px;
    }

    header {
        padding: 0 2rem;

        & nav {

            /*change the displayment of the menu list to vertical*/
            & ul {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 4rem;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid var(--beige-shade);

                & li {
                    width: 100%;
                    height: 3em;
                    color: var(--beige-shade);
                    background-color: var(--purple-dark-shade);
                    /*to hide list items, when checkbox not selected*/
                    overflow: hidden;

                    &:not(:last-child) {
                        border-bottom: 0.5px solid var(--beige-shade);
                    }

                    & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: var(--beige-shade);

                        &:hover {
                            box-shadow: inset 0px 0 0 0 var(--beige-shade);
                            background-color: var(--beige-shade);
                            transition: 0.5s;
                        }
                    }

                    & .current-page {
                        color: var(--beige-shade);
                        background-color: var(--purple-dark-shade);
                        box-shadow: inset 0 0 0 0 var(--beige-shade);
                    }
                }
            }

            /*display the menu button*/
            & .menu-label {
                cursor: pointer;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            /*if the menu button is not checked, hide the menu list*/
            & .menu-toggle~ul li {
                height: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            /*when the menu button is checked, display the menu list*/
            & .menu-toggle:checked~ul li {
                height: 3em;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }

    main .home-page {
        height: 60rem;
        padding-top: 10rem;
        border-bottom-right-radius: 0%;

        & h1 {
            letter-spacing: 0.1rem;
        }

        & .buttons-container {
            grid-template-rows: 3.5rem;
        }
    }

    main .about-page {

        & .border-div {
            flex-direction: column;
            border-radius: 2.5rem;

            & .img-container {
                margin-right: 0rem;
                margin-bottom: 1rem;
                border-radius: 1.5rem;
            }

            & article {
                & h2 {
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    margin-bottom: 1.5rem;
                    border: none;
                    border-bottom: 5px solid var(--purple-dark-shade);
                }
            }
        }
    }

    main .skills-page {
        padding: 5rem 2rem;

        & ul {
            & li {
                & i {
                    font-size: 2rem;
                    padding-right: 0.7rem;
                }
            }
        }
    }

    main .contact-page {

        & .contact-info-container {
            width: 40rem;
            height: fit-content;
            flex-direction: column;
            border-radius: 5rem;

            & form {
                width: 100%;
                border-radius: 2.5rem;
            }

            & article {
                width: 100%;
                padding-left: 0.5rem;

                & .social-media {
                    margin-top: 1.5rem;
                }
            }
        }

    }
}

/*for medium devices -  tablets*/
@media (min-width: 950px) and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}