/******************************************************************/
/* custom css style */
:root {
    /*the website's color palette */
    --purple-light-shade1: #b8a7cbff;
    --purple-light-shade2: #b089be;
    --purple-medium-shade1: #606ab1;
    --purple-medium-shade2: #2d387b;
    --purple-dark-shade: #402b3a;

    --pink-light-shade1: #fbd7e1;
    --pink-light-shade2: #e39bc4;
    --pink-medium-shade1: #e7709c;
    --pink-medium-shade2: #bc518c;
    --pink-bold-shade: #d63484;

    --beige-shade: #fdf3edff;
    --green-shade: #d9e254;
    --blue-shade: #a1c3d1;

    /*font combinations*/
    --main-font1: "Pacifico", cursive;
    --secondary-font1: "Quicksand", sans-serif;
    --main-font2: "Oswald", sans-serif;
    --secondary-font2: "Lato", sans-serif;
}

/******************************************************************/
/* general styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
   /* overflow-x: hidden;*/

    /*customizing the scroll bar appearance*/
    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        background: var(--beige-shade);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--purple-dark-shade);
        border-radius: 2px;
    }
}

h2 {
    font-size: 2rem;
    font-family: var(--main-font2);
    color: var(--purple-dark-shade);
}


/******************************************************************/
/* styling the header */
header {
    font-family: var(--secondary-font1);
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    opacity: 0.8;
    padding: 0px 2rem;
    background-color: var(--purple-dark-shade);

    & a {
        color: var(--beige-shade);
        text-decoration: none;
    }

    & .logo {
        flex: auto;
        font-family: var(--main-font1);
        letter-spacing: 0.3rem;

        & a:hover {
            transition: 0.3s;
            letter-spacing: 0.5rem;
        }
    }

    & .navbar {
        flex: auto;
        & ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            & li a {
                box-shadow: inset 0 0 0 0 var(--beige-shade);
                transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

                &:hover {
                    color: var(--purple-dark-shade);
                    box-shadow: inset 100px 0 0 0 var(--beige-shade);
                    transition: 0.5s;
                }
            }
        }
    }
}

/******************************************************************/
/*styling the main pages*/
main {
    background-color: var(--beige-shade);
}

/******************************************************************/
/*styling the home page*/
main .home-page {
    padding-top: 10rem;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(254, 242, 255, 0.5),
            rgba(114, 27, 129, 0.175)),
        url("../images/backgrounds/home-page-background.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    & h1 {
        font-size: 3rem;
        letter-spacing: 1rem;
        font-family: var(--main-font2);
        color: var(--purple-dark-shade);
        text-shadow: 5px 3px 0px var(--beige-shade);
        box-sizing: border-box;

        &:hover {
            color: var(--purple-light-shade1);
            box-shadow: inset 25rem 0 0 0 var(--green-shade);
            transition: 1s;
        }
    }

    & .description {
        text-align: center;
        border-top: 2px solid var(--purple-dark-shade);
        padding-top: 2rem;
        font-family: var(--secondary-font2);

        & h2 {
            font-size: 1.2rem;
            word-spacing: 0.4rem;
            padding-bottom: 0.2rem;
        }
    }

    & .buttons-container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 11rem);
        grid-template-rows: 3em;
        gap: 4rem;

        & a {
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-weight: bolder;
            font-family: var(--secondary-font2);
            font-size: 0.7rem;
            letter-spacing: 0.1rem;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                transition: 0.5s;
                transform: translateY(10px);
                color: var(--beige-shade);
                background-color: var(--purple-light-shade1);
                border: 2px solid var(--beige-shade);
                box-shadow: 5px 5px 10px 5px var(--green-shade);
            }

            &:focus {
                /*for keyboard interactions*/
                border: 4px solid var(--green-shade);
            }
        }

        & .contact-btn {
            border: none;
            color: var(--beige-shade);
            background-color: var(--purple-dark-shade);
        }

        & .cv-btn {
            border: 2px solid var(--purple-dark-shade);
            color: var(--purple-dark-shade);
            background-color: var(--beige-shade);
        }
    }

    .up-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 0.6rem 0.8rem;
        font-size: 20px;
        border-radius: 5px;
        color: var(--beige-shade);
        background: var(--purple-dark-shade);

        &:hover {
            color: var(--green-shade);
            background: var(--beige-shade);
            box-shadow: 3px 2px 2px 1px var(--green-shade);
            transition: 0.3s;
        }
    }
}

/******************************************************************/
/*styling the about page*/
main .about-page {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;

    & h2 {
        grid-area: 1 / 1 / 2 / 4;
        text-align: center;
    }

    & .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 2 / 2 / 3 / 3;
        & img {
            max-width: 100%;
            height: auto;          
        }
    }

    & article {
        & h3 {
            color: var(--purple-dark-shade);
            font-family: var(--secondary-font1);
            padding-bottom: 1.5rem;
        }

        & p {
            color: var(--purple-dark-shade);
            font-family: var(--secondary-font1);
            font-size: 0.8rem;
        }
    }

    & .card {
        overflow-y: auto;
        height: 30rem;
        text-align: left;
        background-color: var(--pink-light-shade1);
        border: 1px solid var(--pink-light-shade2);
        border-radius: 5px;
        padding: 2rem 1rem;
        box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);

        &:hover {
            transition: 0.3s;
            box-shadow: 0 8px 16px 0 var(--purple-dark-shade);
        }

        /*customizing the scroll bar appearance*/
        &::-webkit-scrollbar {
            width: 0.4rem;
        }

        &::-webkit-scrollbar-track {
            background: var(--beige-shade);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--purple-dark-shade);
            border-radius: 5px;
        }
    }

    & .intro-article {
        grid-area: 2 / 1 / 3 / 2;

        & p {
            padding-bottom: 1rem;
        }
    }

    & .story-article {
        grid-area: 2 / 3 / 3 / 4;

        & p {
            padding-bottom: 1rem;
        }
    }

    & .beliefs-article {
        grid-area: 3 / 1 / 4 / 4;
        text-align: center;
        font-style: italic;

        & p {
            padding-bottom: 0.3rem;
        }
    }
}

/******************************************************************/
/*styling the skills page*/
main .skills-page {
    background-color: rgb(174, 213, 159);
    height: 90vh;
}

/*styling the projects page*/
main .projects-page {
    height: fit-content;
    padding: 3.5rem 3rem;

    & h2 {
        text-align: center;
    }

    & ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: var(--secondary-font1);

        & li {
            width: 27rem;
            height: 20rem;
            margin: 1.5rem 0rem;
            padding: 1rem;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &:hover {
                & .img-container img {
                    filter: contrast(100%);
                }
            }

            & .img-container {
                & img {
                    width: 100%;
                    height: 10rem;
                    object-fit: scale-down;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    filter: contrast(80%);
                }
            }

            & .project-title {
                padding: 0.2rem 0;
                color: var(--pink-medium-shade2);
                text-transform: capitalize;
            }

            & .project-text {
                height: 4rem;
                text-align: justify;
                color: var(--purple-dark-shade);
                font-size: 0.8rem;
                padding-bottom: 0.5rem;
            }

            & a {
                text-decoration: none;
                text-align: center;
                font-family: var(--secondary-font1);
                cursor: pointer;
                padding: 0.4rem;
                border: 2px solid white;
                border-radius: 0.2rem;
                color: white;
                background-color: var(--pink-medium-shade1);

                &:hover {
                    font-weight: bold;
                    background: var(--green-shade);
                    border: 2px solid var(--beige-shade);
                    box-shadow: 3px 2px 2px 1px var(--green-shade);
                    transition: 0.3s;
                }
            }
        }
    }
}

/******************************************************************/
/*styling contact information section*/
main .contact-page {
    padding: 3rem 2rem;
    background-image: url("../images/backgrounds/contact-page-background.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    & h2 {
        text-align: start;
    }

    & .contact-info-container {
        margin-top: 1rem;
        height: 32rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & form {
        height:100%;
        width: 35rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); /* Adjust as needed */
        grid-template-rows: auto;
        grid-row-gap: 0.5rem;
        grid-column-gap: 1rem;
        justify-content: center;

        background-color: var(--pink-light-shade1);
        border: 1px solid var(--pink-light-shade2);
        border-radius: 5px;
        padding: 2rem 1rem;
        box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);

        &:hover {
            transition: 0.3s;
            box-shadow: 0 8px 16px 0 var(--purple-dark-shade);
        }

        & div {
            display: flex;
            flex-direction: column;

            label {
                font-family: var(--secondary-font1);
                color: var(--purple-dark-shade);
            }

            input,
            textarea {
                padding: 0.5rem;
                font-family: var(--secondary-font1);
                color: var(--purple-dark-shade);
            }

            input {
                height: 2rem;
            }
        }

        & .name-container {
            /*grid-area: [row-start] / [column-start] / [row-end] / [column-end];*/
            grid-area: 1 / 1 / 2 / 2;
        }

        & .email-container {
            grid-area: 1 / 2 / 2 / 3;
        }

        & .subject-container {
            grid-area: 2 / 1 / 3 / 3;
        }

        & .message-container {
            grid-area: 3 / 1 / 4 / 3;
        }

        & input[type="reset"] {
            grid-area: 4 / 1 / 5 / 2;
        }

        & input[type="submit"] {
            grid-area: 4 / 2 / 5 / 3;
        }

        & input[type="reset"],
        input[type="submit"] {
            font-size: 0.9rem;
            height: 3rem;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            color: var(--beige-shade);
            background: var(--purple-dark-shade);

            &:hover {
                transition: 0.3s;
                transform: translateY(7px);
            }

            &:focus {
                /*for keyboard interactions*/
                border: 4px solid var(--beige-shade);
            }
        }
    }

    & .social-media {
        height: 100%;
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;

        & li a {
            position: relative;
            background: var(--beige-shade);
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            font-size: 1.5rem;
            color: var(--purple-dark-shade);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 10px 10px rgba(50, 16, 49, 0.416);
            cursor: pointer;

            & .tooltip {
                position: absolute;
                left: 0px;
                font-size: 0.8rem;
                background: var(--beige-shade);
                color: var(--purple-dark-shade);
                padding: 5px 8px;
                border-radius: 5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                /*the triangle pointer*/
                &::before {
                    position: absolute;
                    content: "";
                    height: 0.5rem;
                    width: 0.5rem;
                    background: var(--beige-shade);
                    left: 2px;
                    top: 30%;
                    transform: translate(-50%) rotate(45deg);
                    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }

            &:hover {
                box-shadow: 5px 15px 15px rgba(145, 32, 167, 0.812);

                & .tooltip {
                    left: 4.5rem;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    & .address {
        height: 100%;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.24);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;

        & li {
            width: 18rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            & i {
                background: var(--beige-shade);
                border-radius: 50%;
                width: 3.5rem;
                height: 3.5rem;
                font-size: 1.5rem;
                color: var(--purple-dark-shade);
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 10px 10px rgba(50, 16, 49, 0.416);
            }

            & p {
                font-weight: 900;
                font-family: var(--secondary-font1);
                width: 12rem;
                color: var(--purple-dark-shade);
            }
        }
    }
}

/******************************************************************/
/*styling the footer*/
footer {
    background-color: var(--purple-dark-shade);
    height: 4rem;
    color: var(--beige-shade);
    display: flex;
    align-items: center;
    justify-content: center;
}


/******************************************************************/
/*media queries*/

/*for small devices - mobile phones*/
@media (max-width: 600px) {
    html {
        font-size: 11px;
    }

    main .home-page {
        height: 70vh;
    }
    header {
        background-color: #2d387b;
    }
}

/*for medium devices -  tablets*/
@media (min-width: 601px) and (max-width: 999px) {
    html {
        font-size: 14px;
    }
    main .home-page {
        height: 80vh;
    }
    header {
        background-color: #c5d01f;
    }
}