/*************************** custom css style ********************************/
:root {
    /*the website's color palette */
    --purple-light-shade1: #b8a7cbff;
    --purple-light-shade2: #b089be;
    --purple-dark-shade: #614e6c;

    --pink-light-shade1: #fbd7e1;
    --pink-light-shade2: #e39bc4;
    --pink-medium-shade1: #e7709c;
    --pink-medium-shade2: #bc518c;

    --beige-shade: rgb(254, 249, 255);

    /*font combinations*/
    --main-font: "Oswald", sans-serif;
    --secondary-font1: "Quicksand", sans-serif;
    --secondary-font2: "Lato", sans-serif;
}

/*************************** custom animations ********************************/
@keyframes color-glow {
    0% {
        color: var(--purple-light-shade1);
        border-color: var(--purple-light-shade1);

    }

    50% {
        color: var(--pink-light-shade2);
        border-color: var(--pink-light-shade2);
    }

    100% {
        color: var(--purple-dark-shade);
        border-color: var(--purple-dark-shade);
    }
}

@keyframes font-color {
    0% {
        color: var(--purple-light-shade1);
    }

    50% {
        color: var(--pink-light-shade2);
    }

    100% {
        color: var(--purple-dark-shade);
    }
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

/*************************** general styles ********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*scroll transition*/
    scroll-behavior: smooth !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;

    /*customizing the scroll bar appearance*/
    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        background: var(--beige-shade);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--purple-dark-shade);
        border-radius: 2px;
    }
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    font-family: var(--main-font);
    color: var(--purple-dark-shade);
}

/*************************** header style ********************************/
header {
    font-family: var(--secondary-font2);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
    opacity: 0.8;
    transition: background-color 0.4s linear;

    & a {
        color: var(--purple-dark-shade);
        text-decoration: none;
    }

    & .logo {
        letter-spacing: 0.3rem;

        & a:hover {
            transition: 0.3s;
            letter-spacing: 0.5rem;
        }
    }

    & nav {
        width: 26vw;

        & ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            & li a {
                border-radius: 20px;
                padding: 0.5rem;
                box-shadow: inset 0 0 0 0 var(--beige-shade);
                transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

                &:hover {
                    color: var(--purple-dark-shade);
                    box-shadow: inset 100px 0 0 0 var(--beige-shade);
                    transition: 0.5s;
                }
            }

            & li .current-page {
                color: var(--purple-dark-shade);
                box-shadow: inset 100px 0 0 0 var(--beige-shade);
            }
        }

        /*in regular screens, the menu is not displayed*/
        & .menu-label,
        .menu-toggle {
            display: none;
        }

        /*animations for toggling the menu is mobile devices*/
        & .menu-button,
        .menu-button::before,
        .menu-button::after {
            background-color: #fff;
            position: absolute;
            height: 3px;
            width: 30px;
            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: 2px;
        }

        & .menu-button {
            &::before {
                content: '';
                margin-top: -8px;
            }

            &::after {
                content: '';
                margin-top: 8px;
            }
        }

        & .menu-toggle:checked+.menu-label .menu-button::before {
            margin-top: 0px;
            transform: rotate(405deg);
        }

        & .menu-toggle:checked+.menu-label .menu-button {
            background: rgba(255, 255, 255, 0);
        }

        & .menu-toggle:checked+.menu-label .menu-button::after {
            margin-top: 0px;
            transform: rotate(-405deg);
        }
    }
}

/*************************** home page style ********************************/
main .home-page {
    padding-top: 6rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/backgrounds/home-page-background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom: 10px solid var(--pink-light-shade1);

    & h1 {
        font-size: 5rem;
        letter-spacing: 1rem;
        font-family: var(--main-font);
        color: var(--purple-light-shade1);
        text-shadow: 4px 2px 0px var(--purple-dark-shade);

        &:hover {
            color: var(--purple-light-shade1);
            box-shadow: inset 40rem 0 0 0 var(--beige-shade);
            transition: 1s;
        }
    }

    & .description {
        text-align: center;
        border-top: 2px solid var(--purple-dark-shade);
        padding-top: 1.5rem;
        font-family: var(--secondary-font1);

        & h2 {
            font-size: 1.5rem;
            padding-bottom: 0.3rem;
            font-family: var(--secondary-font2);
        }
    }

    & .buttons-container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 11rem);
        grid-template-rows: 3em;
        gap: 4rem;

        & a {
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-weight: bolder;
            font-family: var(--secondary-font2);
            font-size: 0.7rem;
            letter-spacing: 0.1rem;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                transition: 0.5s;
                transform: translateY(10px);
                color: var(--beige-shade);
                background-color: var(--purple-light-shade1);
                border: 2px solid var(--beige-shade);
                box-shadow: 5px 5px 10px 5px var(--purple-dark-shade);
            }
        }

        & .contact-btn {
            border: none;
            color: var(--beige-shade);
            background-color: var(--purple-dark-shade);

            &:focus {
                /*for keyboard interactions*/
                border: 4px solid var(--beige-shade);
            }
        }

        & .cv-btn {
            border: 2px solid var(--purple-dark-shade);
            color: var(--purple-dark-shade);
            background-color: var(--beige-shade);

            &:focus {
                /*for keyboard interactions*/
                border: 4px solid var(--purple-dark-shade);
            }
        }
    }

    .up-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 0.6rem 0.8rem;
        font-size: 20px;
        border-radius: 50%;
        border: 2px solid var(--purple-dark-shade);
        color: var(--purple-dark-shade);
        background: var(--beige-shade);

        &:hover {
            color: var(--pink-light-shade2);
            border: 2px solid var(--pink-light-shade1);
            box-shadow: 3px 3px 2px 2px var(--pink-light-shade2);
            transition: 0.3s;
        }
    }
}

/*************************** about page style ********************************/
main .about-page {
    width: 75vw;
    height: 75vh;
    margin: 10rem 10rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.6);

    & .img-container {
        margin-right: 3rem;

        & img {
            width: 25vw;
            border-radius: 15px;
            border: 3px solid var(--pink-light-shade2);

            &:hover {
                transition: 0.3s;
                box-shadow: 0 8px 16px 0 var(--purple-dark-shade);
            }
        }
    }

    & article {

        & h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            color: var(--purple-dark-shade);
            border: 5px solid var(--purple-dark-shade);
            border-radius: 15px;
            padding: 1rem 0rem;
            margin-bottom: 2rem;
            animation: color-glow 3s infinite alternate;

            &:hover {
                /* Pauses animation on hover */
                animation-play-state: paused;
                cursor: pointer;
            }
        }

        & p {
            text-align: justify;
            color: var(--purple-dark-shade);
            font-family: var(--secondary-font1);
            padding-bottom: 1rem;
        }

        & mark {
            background-color: var(--pink-light-shade1);
        }
    }
}

/*************************** skills page style ********************************/
main .skills-page {
    padding: 4rem 2rem;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #dacce3);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;

    & h2 {
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
    }

    & h3 {
        grid-area: 2 / 1 / 3 / 3;
        font-family: var(--secondary-font2);
        color: var(--purple-dark-shade);
        text-align: center;
    }

    & div {
        grid-area: 3 / 1 / 4 / 2;

        & img {
            width: 15rem;
            border-radius: 15px;
            border: 5px solid var(--purple-dark-shade);
        }
    }

    & ul {
        grid-area: 3 / 2 / 4 / 3;
        height: fit-content;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        & li {
            width: 10rem;
            height: 3.5rem;
            margin: 0.5rem;
            font-family: var(--secondary-font1);
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: 2px solid var(--beige-shade);
            color: var(--beige-shade);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
            background-size: 200% auto;
            background-image: linear-gradient(to right, var(--pink-light-shade2) 0%,
                    var(--purple-light-shade1) 31%, var(--pink-light-shade1) 90%);
            transition: all .5s ease;

            &:hover {
                cursor: pointer;
                font-weight: 900;
                background-position: right center;
            }
        }
    }

}

/*************************** projects page style ********************************/
main .projects-page {
    padding: 3.5rem 3rem;

    & h2 {
        text-align: center;
        padding-bottom: 0.5rem;
        animation: font-color 2s infinite alternate;
    }

    & ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: var(--secondary-font1);

        & li {
            width: 27rem;
            height: 20rem;
            margin: 1rem;
            padding: 1rem;
            background-color: white;
            border-radius: 15px;
            border: 2px solid var(--pink-light-shade1);
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &:hover {
                cursor: pointer;

                & .img-container img {
                    filter: contrast(100%);
                }

                box-shadow: 10px 20px 40px 10px var(--purple-light-shade1);
            }

            & .img-container {
                & img {
                    width: 100%;
                    height: 10rem;
                    object-fit: scale-down;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    filter: contrast(80%);
                }
            }

            & .project-title {
                padding: 0.2rem 0;
                color: var(--pink-medium-shade2);
                text-transform: capitalize;
            }

            & .project-text {
                height: 4rem;
                text-align: justify;
                color: var(--purple-dark-shade);
                font-size: 0.8rem;
                padding-bottom: 0.5rem;
            }

            & a {
                text-decoration: none;
                text-align: center;
                font-family: var(--secondary-font1);
                cursor: pointer;
                padding: 0.4rem;
                border: 2px solid white;
                border-radius: 0.2rem;
                color: white;
                background-color: var(--pink-medium-shade1);

                &:hover {
                    font-weight: bold;
                    background: white;
                    border: 2px solid var(--pink-medium-shade1);
                    box-shadow: 3px 2px 2px 1px var(--pink-medium-shade1);
                    color: var(--pink-medium-shade1);
                    transition: 0.3s;
                }
            }
        }
    }
}

/*************************** contact page style ********************************/
main .contact-page {
    width: 100vw;
    padding: 4rem 2rem;
    background-image: url("../images/backgrounds/contact-page-background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 25%;
    border-top: 10px solid var(--pink-light-shade1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
        color: var(--pink-light-shade1);
    }

    & .contact-info-container {
        margin-top: 3rem;
        width: 70vw;
        height: 70vh;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        border-radius: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.125);
        background: rgba(255, 255, 255, 0.65);
        box-shadow: 4px 4px 8px 2px var(--purple-dark-shade);

        &:hover {
            transition: 0.3s;
            box-shadow: 8px 8px 16px 8px var(--purple-dark-shade);
        }

        & form {
            height: 100%;
            width: 48%;
            padding: 2rem 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(3vw, 1fr));
            grid-template-rows: auto;
            grid-row-gap: 0.5rem;
            grid-column-gap: 1rem;
            justify-content: center;
            border-radius: 15px;
            border: 1px solid var(--pink-light-shade2);
            background-color: var(--pink-light-shade1);
            box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);

            &:hover {
                transition: 0.3s;
                box-shadow: 0 8px 16px 0 var(--purple-dark-shade);
            }

            & .row {
                display: flex;
                flex-direction: column;

                label {
                    font-family: var(--secondary-font1);
                    color: var(--purple-dark-shade);
                }

                input,
                textarea {
                    padding: 0.5rem;
                    font-family: var(--secondary-font1);
                    color: var(--purple-dark-shade);
                }

                input {
                    height: 2rem;
                }
            }

            & .name-container {
                /*grid-area: [row-start] / [column-start] / [row-end] / [column-end];*/
                grid-area: 1 / 1 / 2 / 2;
            }

            & .email-container {
                grid-area: 1 / 2 / 2 / 3;
            }

            & .subject-container {
                grid-area: 2 / 1 / 3 / 3;
            }

            & .message-container {
                grid-area: 3 / 1 / 4 / 3;
            }

            & input[type="reset"] {
                grid-area: 4 / 1 / 5 / 2;
            }

            & input[type="submit"] {
                grid-area: 4 / 2 / 5 / 3;
            }

            & input[type="reset"],
            input[type="submit"] {
                height: 6vh;
                cursor: pointer;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                font-weight: bolder;
                font-family: var(--secondary-font2);
                font-size: 0.7rem;
                letter-spacing: 0.1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 5px;
                color: var(--beige-shade);
                background-color: var(--purple-dark-shade);

                &:hover {
                    transition: 0.4s;
                    transform: translateY(2px);
                    color: var(--beige-shade);
                    background-color: var(--purple-light-shade1);
                    border: 2px solid var(--beige-shade);
                    box-shadow: 5px 5px 10px 5px var(--purple-dark-shade);
                }

                &:focus {
                    /*for keyboard interactions*/
                    border: 4px solid var(--beige-shade);
                }
            }
        }

        & article {
            height: 100%;
            width: 48%;
            font-style: normal;
            font-family: var(--secondary-font1);
            padding-top: 2rem;
            color: var(--purple-dark-shade);

            & h3 {
                font-size: 1.6rem;
                color: var(--purple-dark-shade);
                font-family: var(--secondary-font2);
                padding-bottom: 0.8rem;
            }

            & p {
                text-align: justify;
                padding-bottom: 1rem;
            }

            & .info-list {
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 1rem;

                & li {
                    display: flex;
                    margin-bottom: 1.5rem;

                    & span {
                        display: block;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px dashed var(--purple-dark-shade);
                        background: var(--beige-shade);
                        margin-right: 1rem;
                        animation: spin 15s linear infinite;

                        & i {
                            font-size: 1.3rem;
                            animation: spin 15s linear infinite reverse;
                        }
                    }

                    & .info-container {
                        width: 10vw;

                        & h4 {
                            font-family: var(--secondary-font2);
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            & .social-media {
                margin-top: 3rem;
                display: flex;
                justify-content: center;
                list-style: none;

                & li {
                    margin-right: 1rem;

                    a {
                        position: relative;
                        background: var(--beige-shade);
                        border-radius: 50%;
                        width: 3rem;
                        height: 3rem;
                        font-size: 1.5rem;
                        color: var(--purple-dark-shade);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 10px 10px rgba(50, 16, 49, 0.416);
                        cursor: pointer;

                        & .tooltip {
                            position: absolute;
                            top: 0px;
                            font-size: 0.8rem;
                            background: var(--beige-shade);
                            color: var(--purple-dark-shade);
                            padding: 5px 8px;
                            border-radius: 5px;
                            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                            opacity: 0;
                            pointer-events: none;
                            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                            /*the triangle pointer*/
                            &::before {
                                position: absolute;
                                content: "";
                                height: 0.5rem;
                                width: 0.5rem;
                                background: var(--beige-shade);
                                bottom: -3px;
                                left: 50%;
                                transform: translate(-50%) rotate(45deg);
                                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            }
                        }

                        &:hover {
                            box-shadow: 5px 15px 15px var(--pink-light-shade2);

                            & .tooltip {
                                top: -2.5rem;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }

}

/*************************** footer style ********************************/
footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: var(--secondary-font1);
    color: var(--beige-shade);
    background-color: var(--purple-dark-shade);
}


/*********************************************************************************/
/*************************** media queries styles ********************************/

/*for small devices - mobile phones*/
@media (max-width:775px) {
    html {
        font-size: 12px;
    }

    header {
        /*  background-color: blue;*/
        padding: 0 1.5rem;

        & nav {
            width: 20rem;

            /*change the displayment of the menu list to vertical*/
            & ul {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 40px;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid var(--beige-shade);

                & li {
                    width: 100%;
                    height: 3em;
                    color: var(--beige-shade);
                    background-color: var(--purple-dark-shade);
                    /*to hide list items, when checkbox not selected*/
                    overflow: hidden;

                    &:not(:last-child) {
                        border-bottom: 0.5px solid var(--beige-shade);
                    }

                    & a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;

                        &:hover {
                            box-shadow: inset 0px 0 0 0 var(--beige-shade);
                            background-color: var(--beige-shade);
                            transition: 0.5s;
                        }
                    }
                }
            }

            /*display the menu button*/
            & .menu-label {
                cursor: pointer;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            /*if the menu button is not checked, hide the menu list*/
            & .menu-toggle~ul li {
                height: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            /*when the menu button is checked, display the menu list*/
            & .menu-toggle:checked~ul li {
                height: 3em;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }

    main .home-page {
        height: 90vh;
        padding-top: 8rem;
    }

    main .about-page {
        padding-top: 4rem;
        height: auto;
        flex-direction: column;

        & .img-container {
            margin-right: 0rem;

            & img {
                width: 22rem;
                border-radius: 15px;
            }
        }

        & article {
            padding: 2rem 0;
            width: auto;

            & h2 {
                font-size: 2.2rem;
                border-bottom: 5px solid var(--purple-dark-shade);
            }
        }
    }

    main .skills-page {
        height: auto;
        padding: 4rem 1rem 3rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & div {
            justify-content: center;
        }

        & h3 {
            padding-bottom: 0rem;
        }

        & ul {
            width: 100%;
        }
    }

    main .projects-page {
        padding: 4rem 0.5rem;

        & ul {
            & li {
                width: 25rem;
                height: 19rem;

                & .img-container {
                    & img {
                        height: 9rem;
                    }
                }
            }
        }
    }

    main .contact-page {
        height: 120vh;
        background-position: center;
        background-repeat: repeat-y;
        background-size: contain;

        & .contact-info-container {
            flex-wrap: wrap;
            margin-top: 1rem;

            & article {
                background-color: rgba(255, 255, 255, 0.6);
                margin-top: 2rem;

                & .social-media {
                    margin-top: 1.7rem;
                }
            }
        }
    }
}

/*for medium devices -  tablets*/
@media (min-width: 776px) and (max-width: 1036px) {
    html {
        font-size: 14px;
    }

    header {
        /*  background-color: tomato;*/
        padding: 0 1.5rem;

        & navbar {
            width: 22rem;

            & ul li a {
                padding: 0.2rem;
            }
        }
    }

    main .home-page {
        padding-top: 8rem;
    }

    main .about-page {
        height: 90vh;
        padding: 1rem 2rem;

        & article {
            width: 35rem;

            & h2 {
                font-size: 2.5rem;
                border-bottom: 8px solid var(--purple-dark-shade);
                margin-bottom: 1rem;
            }
        }
    }

    main .skills-page {
        height: auto;
        padding: 4rem 1rem 3rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & div {
            justify-content: center;
        }

        & h3 {
            padding-bottom: 0rem;
        }

        & ul {
            width: 100%;
        }
    }

    main .projects-page {
        padding: 4rem 0.5rem;

        & ul {
            & li {
                width: 25rem;
                height: 19rem;

                & .img-container {
                    & img {
                        height: 9rem;
                    }
                }
            }
        }
    }

    main .contact-page {
        & .contact-info-container {
            margin-top: 2rem;

            & form {
                width: 25rem;
            }
        }
    }
}